@import './src/assets/styles/colors';

.ngx-editor-message {
  font-size: 80%;
  background-color: $color-gray-light;
  border: 1px solid $color-gray-border;
  border-top: transparent;
  padding: 0 0.5rem;
  padding-bottom: 0.1rem;
  transition: 0.5s ease-in;
}
