// Base Colors

$color-black: #000;
$color-blue: #0076c0;
$color-blue-dark: #234078;
$color-white: #ffffff;
$color-gray-light: #f7f7f8;
$color-gray-medium: #75757d;
$color-gray-border: #c8c8ce;
$color-gray-dark: #383d45;
$color-red: #c71d46;
$color-green: #2f864f;
$color-column-gray: #efefef;

// Color Effects
$color-hover: rgba(0, 118, 192, 0.05);
$color-overlay: rgba(0, 0, 0, 0.5);

// Icon Colors
$color-red-icon: #ff675d;
$color-orange-icon: #f48736;
$color-yellow-icon: #ffdd30;
$color-green-icon: #9ece00;
$color-purple-icon: #cd87f7;

$color-primary: $color-blue;
$color-secondary: $color-blue-dark;
$color-disabled: $color-gray-medium;
